rfs-text-box-item {
    --primary-color: #515769;
    --secondary-color: #a6a7aa;
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6 {
        color: var(--primary-color);
        font-weight: 600;
    }
    p {
        color: var(--secondary-color);
    }
}