rfs-parallax-image-vertical-repeat {
    --desk-background-image: none;
    --mobile-background-image: none;
    .parallax-image {
        background-image: var( --mobile-background-image);
        background-attachment: fixed;
        background-position: top center;
        background-size: cover;
        background-size: contain;
        min-height: 35vh;
        @media(min-width: 720px) {
            min-height: 70vh;
            background-image: var(--desk-background-image);
            background-repeat: repeat-y;
        }
    }
}