rfs-parallax-image {
    --background-image: none;
    .parallax-image {
        background-image: var(--background-image);
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 35vh;
        @media(min-width: 720px) {
            background-size: cover;
            min-height: 70vh;
        }
    }
}