:root {
    --header-primary-color: #fff;
    --header-secondary-color: #f82249;
    --header-text-primary-color: #fff;
    --header-text-secondary-color: #fff;
}

rfs-header .navbar {
    background: rgba(6, 12, 34, 0.98)!important;
}