rfs-nav-item {
    --primary-color: #fff;
    --secondary-color: white;
    --tertiary-color: #f82249;
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin-left: 8px;
        float: left;
        position: relative;
        white-space: nowrap;
        a {
            opacity: 0.4;
            padding: 8px;
            text-decoration: none;
            display: inline-block;
            color: var(--primary-color)!important;
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 14px;
            outline: none;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--tertiary-color);
                visibility: hidden;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover,
            &:active,
            &:focus {
                outline: none!important;
                text-decoration: none!important;
            }
        }
        & a:hover::before,
        &.active a::before,
        & a.active::before {
            visibility: visible;
            width: 100%;
        }
        &:hover a,
        &.active a,
        & a.active {
            opacity: 1;
        }
        &.action {
            a {
                opacity: 1;
                color: var(--secondary-color)!important;
                background: var(--tertiary-color);
                padding: 7px 22px!important;
                border-radius: 50px;
                border: 2px solid var(--tertiary-color);
                transition: all ease-in-out 0.3s;
                font-weight: 500!important;
                margin-left: 8px;
                margin-top: 2px;
                line-height: 1;
                font-size: 13px;
                &:hover {
                    background: none;
                }
            }
            & a:hover::before,
            &.active a::before,
            & a.active::before {
                visibility: hidden;
                width: 0;
            }
        }
    }
}